.benefits {
    padding: 5rem 0rem;
    margin: 10rem 0rem 2rem;
    .benefit {
        background: rgba(255, 255, 255, 0.1);
        .benefit-icon {
            font-size: 2rem;
            color: $red;
        }
        .benefit-text {
            h3 {
                color: #cbd4da;
            }
            p {
                color: rgb(180, 180, 180);
            }
        }
    }
}