section.checkout {
    table {
        .accordion {
            .card {
                background: $light-black;
                border-bottom: 0.01rem solid $text-color !important;
                .card-header {
                    margin: 0;
                    padding: 2rem 2rem;
                }
                .card-body {
                    background: rgba($color: #fff, $alpha: 0.1);
                }
            }
        }
        a.inline-link {
            color: $red;
            text-decoration: none;
            @include anchorHover ($red);
        }
    }
}