footer.footer {
    // margin-top: 10rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    // background-color: rgb(32, 30, 30);
    background-color: $black;
    color: #777777;
    a {
        color: inherit;
        text-decoration: none;
        @include anchorHover(#fff);
    }
    section {
        h3 {
            // color: #c2c7cc;
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
    }
    button {
        // background: rgb(50, 54, 57);
        background: $light-black;
        color: #fffcfc;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
}