header.main-header {
    &.home-header {
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        // bottom: 0; // this will override any modal
        right: 0;
        z-index: 200;
        transition: background-color 0.5s;
        &.animate-nav {
            background-color: $black;
            box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.5);
        }
    }
    &:not(.home-header) .top-header {
        background: rgba($color: #fff, $alpha: 0.14);
    }
    &:not(.home-header) nav {
        background: rgba($color: #fff, $alpha: 0.2);
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    }
    .top-header {
        .btn:focus {
            box-shadow: none;
        }
        .free-shipping {
            font-weight: lighter;
            font-size: 0.9rem;
            color: $red;
        }
        .fa-facebook-f {
            color: $facebook;
        }
        .fa-twitter {
            color: #1da1f2;
        }
        .fa-phone-alt {
            color: $text-color;
        }
        .language-currency a {
            color: $text-color;
        }
        .dropdown-menu {
            background: $light-black;
            box-shadow: 5px 5px 10px -5px rgba($color: $text-color, $alpha: 0.5);
            a {
                color: $text-color;
                background: $light-black;
                transition: color 0.4s;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    nav {
        .dropdown-menu {
            background: $light-black;
            box-shadow: 5px 5px 10px -5px rgba($color: $text-color, $alpha: 0.5);
            a {
                color: $text-color;
                background: $light-black;
                transition: color 0.4s;
                &:hover {
                    color: #fff;
                }
            }
        }
        .navbar-toggler {
            border: none;
            border-radius: 0;
            padding: 0;
            font-size: 1.8rem;
            // background: $red;
            // color: $red;
            &:focus {
                outline: none;
            }
        }
        .navbar-toggler-icon {
            background-image: none;
            // color: $heading-color;
            color: $red;
        }
        .navbar-nav .nav-item {
            font-size: 1.1rem;
            .nav-link {
                color: $text-color;
                transition: color 0.35s;
                &:hover {
                    color: $heading-color;
                }
            }
            &.active > .nav-link {
                color: $red;
                font-weight: bold;
            }
        }
        ul.list-inline li {
            position: relative;
            a {
                font-size: 1.5rem;
                color: $text-color;
                transition: color 0.35s;
                &:hover {
                    color: $red;
                }
            }
            .badge {
                position: absolute;
                right: -8px;
                top: -1px;
            }
        }
        button#toggle-form {
            background-color: transparent;
            font-size: 2rem;

            &:focus {
                outline: none;
            }
            &:hover {
                cursor: pointer;
            }
        }
        form {
            /* =========================*/
            .input-group {
                background: transparent;
                border-bottom: 2px solid transparent;
                position: relative;
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: -2px;
                    right: 0;
                    left: 0;
                    z-index: -2;
                    // padding-bottom: 30px;
                    border-bottom: 2px solid $text-color;
                    width: 100%;
                    // height: 100%;
                    transition: width 0.5s;
                }
                &::after {
                    z-index: -1;
                    width: 0%;
                    border-color: $red;
                }
                // $parent: green;
                &:hover {
                    // border-color: $parent;
                    &::after {
                        content: "";
                        width: 100%;
                    }
                }
                // border-bottom: 2px solid rgb(173, 173, 173);
                // &:focus-within {
                //     border-bottom: 2px solid rgb(206, 5, 5);
                // }
            }
            input,
            .input-group-prepend,
            button {
                background-color: transparent;
                transition: background-color 0.3s ease-in;
            }
            input {
                &[type="search"] {
                    color: $light-black-blue;
                }
                &:focus {
                    background-color: rgba($color: #fff, $alpha: 0.8);
                    & + .input-group-prepend {
                        background-color: rgba($color: #fff, $alpha: 0.8);
                    }
                }
            }
            & *:focus {
                outline: none;
                box-shadow: none;
            }
            /* small screen size form*/
            &#form-small-screen {
                position: absolute;
                top: 100%;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 5;
                // width: 100%;
                // margin: 0 auto;
                height: auto;
                .input-group {
                    width: 100%;
                    input {
                        background-color: rgba($color: #fff, $alpha: 0.8);
                        // font-size: 2rem;
                        & + .input-group-prepend {
                            background-color: rgba($color: #fff, $alpha: 0.8);
                        }
                    }
                }
            }
        }
    }

    .modal#login-register {
        background: rgba($color: $light-black, $alpha: 0.5);
    }
    .modal-content {
        background: $black;
        border-radius: 0px;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
        .modal-header {
            // padding: 0;
            // padding-right: 1rem;
            border: none;
            ul {
                border: none;
                // padding: 1rem;
                a {
                    // position: relative;
                    text-decoration: none;
                    border: none;
                    padding-bottom: 1rem;
                    font-weight: bold;
                    font-size: 2rem;
                    background: $black;
                    color: $text-color;
                    &:hover {
                        border: none;
                        color: $red;
                    }
                }
            }
            .active {
                color: $red;
                border: none;
                position: relative;
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    content: "";
                    width: 100%;
                    height: 6px;
                    border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%;
                    background: $red;
                }
            }
        }
        form {
            input:focus {
                outline: none;
                box-shadow: none;
            }
            a {
                color: $text-color;
            }
        }
    }
    hr {
        margin-top: 50px;
        margin-bottom: 20px;
        height: 1px;
        background: $text-color;
        &::after {
            background: $black;
            padding-right: 7px;
            padding-left: 7px;
            position: relative;
            top: -13px;
            // left: 0;
            // right: 0;
            display: block;
            width: fit-content;
            margin: 0 auto;
        }
        &.login::after {
            content: "OR";
        }
        &.register::after {
            content: "OR CONNECT WITH";
        }
    }
}
