.card.women,
.card.men {
    border: none;
    overflow: hidden;
    margin-top: 4rem;
    .card-img {
        height: 100%;
        img {
            transition: transform 0.5s ease-out;
            height: 100%;
        }
    }

    &:hover {
        a {
            background: rgba($color: #fff, $alpha: 0.25);
            background: rgba($color: #131619, $alpha: 0.25);
            color: #fff;
        }
        img {
            transform: scale(1.1);
        }
    }
    a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
}