.new-arrivals {
    padding: 10rem 0rem;
    h2 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    nav {
        margin-top: 3rem;
        margin-bottom: 0.8rem;
        a {
            color: $text-color;
            text-decoration: none;
            @include anchorHover($red);
            &.active {
                color: $red;
                &::after {
                    content: "";
                    width: 100%;
                    border-bottom: 2px solid $red;
                }
            }
        }
    }
}