section.order-confirmation {
    .order-information {
        margin: 5rem 0rem;
        background: rgba($color: #fff, $alpha: 0.07);
        .bolded {
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
}