section.stores {
    .map {
        padding: 0 1rem 0 0;
        overflow: hidden;
        border-radius: 10px;
        min-height: 50vh;
        // border: 6px solid green;
        box-shadow: 0 0 5px 5px $black inset;
    }
}