$black-pure: #000;
$black: #0d0f11;
$light-black: #131619;
$heading-color: #bec3c7;
$text-color: #9da1a5;
$red: #d10024;
$black-blue: #15161d;
$light-black-blue: #1e1f29;
$facebook: #4267b2;
$twitter: #1da1f2;