section.wishlist-items,
section.shopping-cart {
    .media-body > a {
        text-decoration: none;
        h6 {
            @include anchorHover($red);
        }
    }
    & .navigation-links a {
        color: $text-color;
        text-decoration: none;
        @include anchorHover($red);
    }
}