/*===========================*/
// genaral declarations
/*===========================*/
@font-face {
    src: url(https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap);
    font-family: "Rubik Mono One", sans-serif;
}
@font-face {
    src: url(../webfonts/fa-light-300.ttf);
    font-family: "fontawesome";
}
body {
    // background: $black;
    // background: red;
    // color: $text-color;
    position: relative;
    overflow-x: hidden;
    font-family: "Rubik Mono One", sans-serif;
}

/* ========== themes =============*/
.themes {
    position: fixed;
    top: 45vh;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    #black, #light {
        &#black {
            background: $light-black;
            color: #f8f9fa;
        }
        &#light {
            background: #f8f9fa;
            color: $light-black;
        }
        &:focus {
            outline: none;
        }
        &:hover {
            box-shadow: 0 0 10px 1px $light-black;
        }
        transition: box-shadow 0.3s;
        cursor: pointer;
        border: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
}
/*=========================================*/

section.stores header h3,
section.get-in-touch header h3,
main.main-content.contact h1,
main.main-content.wishlist header h1,
main.main-content.checkout header h1,
main.main-content.checkout-confirm header h1,
.products header h2 {
    font-size: 2.7rem;
    // font-weight: 400;
    @include minMediaQuery(576px) {
        font-size: 4.5rem;
    }
    @include minMediaQuery(768px) {
        font-size: 6rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
}
a {
    text-decoration: none;
    color: #000;
}
.hover-danger {
    text-decoration: none !important;
    color: $text-color;
    position: relative;
    transition: color 0.3s;
    width: fit-content;
    &:hover {
        color: $red;
    }
}

.outline-danger {
    border-bottom: 1px solid $black !important;
    padding-left: 0;
    &:focus {
        // box-shadow: 0 0 4px 1px $black;
        box-shadow: none;

    }
}
.line-through {
    text-decoration: line-through;
}
.close {
    padding: 3px 14px !important;
    span {
        color: $text-color !important;
        font-weight: lighter !important;
        font-size: 1rem !important;
    }
    @include minMediaQuery(576px) {
        // font-size: 3rem !important;
        // padding: 6px 16px !important;
        span {
            font-size: 1.5rem !important;
        }
    }
    @include minMediaQuery(768px) {
        // font-size: 5rem !important;
        padding: 9px 16px !important;
        span {
            font-size: 1.5rem !important;
        }
    }
}
.alert-success {
    background: rgba($color: #51e66a, $alpha: 0.7);
    border-color: rgba($color: #51e66a, $alpha: 0.7);
    color: $light-black;

    a {
        text-decoration: none;
        transition: color 0.3s;
        &:hover {
            color: $heading-color;
        }
    }
    i.fa-check-circle {
        color: #fff;
        font-size: 2.5rem;
        @include minMediaQuery(576px) {
            font-size: 3rem;
        }
        @include minMediaQuery(768px) {
            font-size: 5rem;
        }
    }
}
.badge-danger {
    background: $red;
}
.text-danger {
    color: $gold !important;
}
.text-link {
    color: #505663;
}
.text-facebook {
    color: #4267b2;
}
.text-twitter {
    color: #1da1f2;
}
.text-instagram {
    color: transparent;
    background: rgba(255, 219, 128, 1);
    background-image: linear-gradient(
        45deg,
        rgba(255, 219, 128, 1) 0%,
        rgba(252, 176, 69, 1) 10%,
        rgba(247, 118, 54, 1) 18%,
        rgba(245, 99, 66, 1) 28%,
        rgba(253, 28, 28, 1) 39%,
        rgba(226, 50, 108, 1) 49%,
        rgba(193, 68, 130, 1) 62%,
        rgba(132, 59, 181, 1) 75%,
        rgba(88, 81, 219, 1) 88%,
        rgba(65, 79, 230, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
}
.btn-outline-dark {
    border-color: #fff;
    color: #fff;
    background: $light-black;
    transition: all 0.3s;
    &:hover {
        background-color: #fff;
        color: $light-black;
        border-color: $light-black;
    }
}
.btn-outline-danger {
    border-color: $gold;
    color: $gold;
    background-color: #fff;
    transition: background-color 0.4s;
    &:hover {
        background-color: $gold;
        color: #fff;
        border-color: $gold;
    }
}

/* checkbox and radio
==========================*/
.colors .custom-control-input ~ .custom-control-label::before {
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    border: 2.2px solid transparent;
    transition: border-color 0.25s linear;
}
.colors .custom-control-input ~ .custom-control-label::after {
    // background-color: none;
    // background: none;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
}

.colors .custom-control-input#redColor ~ .custom-control-label::before {
    background: red;
}
.colors .custom-control-input#blueColor ~ .custom-control-label::before {
    background: blue;
}
.colors .custom-control-input#purpleColor ~ .custom-control-label::before {
    background: purple;
}

.colors .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #000;
}
.colors .custom-control-input:not(:checked) ~ .custom-control-label::before {
    border-color: transparent;
}
.colors .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}
.colors .custom-control-input:checked ~ .custom-control-label::after {
    background: none;
}
/*==========*/
/*==========*/
/*==========*/
.noUi-connect {
    background: $black !important;
}
/*==========*/
/*==========*/
/*==========*/
/*==========*/
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: $black;
    border-color: $black;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0px 0px 5px 2px rgba($color: $black, $alpha: 0.75);
}
.modal-backdrop {
    z-index: auto !important;
}

.modal#quickView {
    background: rgba($color: $light-black, $alpha: 0.5);
    background: rgba(0, 0, 0, 0.6);
    .close {
        color: $text-color;
    }
}
.modal-content {
    // background: $black;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    .fa-star {
        color: $gold;
    }
    .add-to-wishlist {
        text-decoration: none;
        color: $text-color;
        @include anchorHover($gold);
    }
}
// form * {
//     &:focus {
//         // box-shadow: none !important;
//     }
// }


.dropdown-toggle::after {
    content: "\f107" !important;
    border: none;
    font-family: "fontawesome" !important;
    vertical-align: 0;
    transition: transform 0.3s;
}
.dropdown-toggle[aria-expanded="true"]::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}