.benefits {
    padding: 5rem 0rem;
    margin: 10rem 0rem 0rem;
    background: $light;
    .benefit {
        // background: rgba(0, 0, 0, 0.4);
        .benefit-icon {
            font-size: 2rem;
            color: $gold;
        }
        .benefit-text {
            h3 {
                color: $heading-color;
            }
            p {
                color: $text-color;
            }
        }
    }
}