section.deal-of-the-week {
    padding: 8rem 1rem;
    min-height: 100vh;
    // background-color: #ff0;
    color: $light-black;
    background-image: url(../images/deal-of-the-week/deal-of-the-week.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .price-before {
        text-decoration: line-through;
    }
    h2 {
        color: $black;
        margin-bottom: 2rem;
    }
}