.filters {
    // background: $light-black;
    padding: 3rem 1.5rem 1rem;
    margin-bottom: 1rem;
    // border-radius: 10px;
    // box-shadow: 0px 0px 5px 5px rgba($color: $black-pure, $alpha: 0.8) inset;
    .badge {
        background: $black;
    }
    .accordion .card {
        // background: $light-black;
        button {
            color: $heading-color;
            font-weight: bold;
        }
        & .list-group-item {
            // background: $light-black;
        }
    }
    button {
        &:focus {
            box-shadow: none;
        }
    }
    .range-container {
        // height: 250px;
        padding: 3rem 0rem;
        padding-right: 2rem;
    }
    // .custom-control-input:checked~.custom-control-label::before {
    //     background-color: #000;
    //     border-color: #000;
    // }
    // .custom-control-input:focus~.custom-control-label::before {
    //     box-shadow: none;
    // }
    .price {
        *:focus {
            outline: none;
            box-shadow: none;
        }
    }
}