footer.footer {
    // margin-top: 10rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    // background-color: rgb(32, 30, 30);
    background-color: #fff;
    // color: #777777;
    a {
        color: $text-color;
        text-decoration: none;
        @include anchorHover($black);
    }
    section {
        h3 {
            color: $heading-color;
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
        p {
            color: $text-color;
        }
    }
    form .input-group {
        border-bottom: 1px solid $text-color;
        input {
            border: none !important;
        }
        button {
            // background: rgb(50, 54, 57);
            // background: $light-black;
            color: #000;
            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }
}