article.home-slide {
    max-height: 100vh;
    // max-width: 100vw;
    padding: 12rem 1rem;
    background-color: #000;
    color: $light-black;
    h2 {
        color: $black;
        font-size: 3.5rem;
        font-weight: 400;
        @include minMediaQuery(576px) {
            font-size: 4.5rem;
        }
        @include minMediaQuery(768px) {
            font-size: 6rem;
        }
    }
    &#slide-1 {
        background-image: url(../images/home-slider/slide-1.png);
    }
    &#slide-2 {
        background-image: url(../images/home-slider/slide-2.png);
    }
    &#slide-3 {
        background-image: url(../images/home-slider/slide-3.png);
    }
    &#slide-4 {
        background-image: url(../images/home-slider/slide-4.png);
    }
    &#slide-5 {
        background-image: url(../images/home-slider/slide-5.png);
    }

    background-repeat: no-repeat;
    background-size: cover;
    // background-size:  100%;
    // background-position: top 0px left 0px bottom 0px right 0px;
    // background-position: bottom 0px right 0px;
    background-position: center;
}
