main.main-content {
    // padding-top: 10rem;
    &.shop,
    &.checkout-confirm,
    &.cart,
    &.contact > header,
    &.product-details,
    &.wishlist,
    &.checkout {
        padding-top: 10rem;
    }
    .breadcrumb {
        background: transparent;
        .breadcrumb-item + .breadcrumb-item::before {
            content: "\02758";
            color: $black;
        }
        a {
            color: $gold;
            text-decoration: none;
            @include anchorHover($red);
        }
    }
    header.contact {
        min-height: 50vh;
        .breadcrumb {
            background: transparent;
        }
    }
}