@mixin minMediaQuery($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}
@mixin maxMediaQuery($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}
@mixin anchorHover($color) {
    position: relative;
    transition: color 0.3s;
    width: fit-content;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding-bottom: 20px;
        border-bottom: 2px solid $color;
        width: 0%;
        height: 100%;
        transition: width 0.3s;
    }
    &:hover {
        color: $color;
        &::after {
            content: "";
            width: 100%;
        }
    }
}