section.order-confirmation {
    .order-information {
        margin: 5rem 0rem;
        background: $light;
        .bolded {
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
}