.card.product-item {
    border: none;
    // background: $black;
    transition: box-shadow 0.3s;
    transition: transform 0.5s;
    &:hover {
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
        transform: scale(1.02);
    }
    .card-img {
        position: relative;
        .overlay {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba($color: #fff, $alpha: 0.5);
            padding: 15px 10px;
            display: none;

            @include maxMediaQuery(768px) {
                display: block;
            }
            .d-flex > a {
                // color: #fff;
                text-decoration: none;
                font-weight: bolder;
                font-size: 0.8rem;
                transition: color 0.3s;
                &:hover {
                    color: $gold;
                }
            }
            .icons a {
                margin-left: 10px;
                color: $gold;
                & > .fa-expand-arrows-alt {
                    color: #000;
                }
            }
        }
        .img {
            position: relative;
            img {
                transition: opacity 0.45s ease-in;
                &:last-child {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    // overflow: hidden;
                    // max-width: 100%;
                }
            }
        }
    }
    .card-body {
        padding: 15px 5px;
        // background: $black;
        // background: $light-black;
        .card-text {
            font-size: 0.85rem;
        }
        .card-title {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
        }
        .price {
            font-weight: bold;
            color: $text-color !important;
        }
        .rating {
            display: none;
            color: $gold;
            font-size: 0.5rem;
            @include maxMediaQuery(768px) {
                display: block;
            }
        }
    }
}