section.product-details {
    .fa-star {
        color: $gold;
    }
    .add-to-wishlist {
        text-decoration: none;
        color: $text-color;
        @include anchorHover($gold);
    }
}

section.product-description {
    ul.nav-tabs {
        border: none;
        // padding: 1rem;
        a.nav-link {
            // position: relative;
            text-decoration: none;
            border: none;
            padding-bottom: 1rem;
            font-weight: bold;
            // font-size: 2rem;
            // background: $black;
            color: $text-color;
            transition: color 0.35s;
            &:hover {
                border: none;
                color: $gold;
            }
            &.active {
                color: $gold;
                // border: none;
                position: relative;
                // &::after {
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     display: block;
                //     content: "";
                //     width: 100%;
                //     height: 6px;
                //     border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%;
                //     background: $red;
                // }
            }
        }
    }
    
}
