/* swiper styles
========================*/

.swiper-thumbs {
    button {
        border: none;
        background: transparent;
        opacity: 0.5;
        outline: none;
        box-shadow: none;
        &.active {
            opacity: 1;
        }
    }
}
.swiper-pagination-bullet {
    background: $text-color !important;
}
.swiper-pagination-bullet-active {
    background: $gold !important;
}