section.wishlist-items,
section.shopping-cart {
    .media-body > a {
        text-decoration: none;
        h6 {
            font-weight: bold;
            @include anchorHover($gold);
        }
    }
    & .navigation-links a {
        color: $text-color;
        text-decoration: none;
        @include anchorHover($gold);
    }
    .increase i, .decrease i {
        color: $black !important;
    }
}