/*===========================*/
/*===========================*/
@font-face {
  src: url(https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap);
  font-family: "Rubik Mono One", sans-serif; }

@font-face {
  src: url(../webfonts/fa-light-300.ttf);
  font-family: "fontawesome"; }

body {
  background: #0d0f11;
  color: #9da1a5;
  position: relative;
  overflow-x: hidden;
  font-family: "Rubik Mono One", sans-serif; }

/* ========== themes =============*/
.themes {
  position: fixed;
  top: 45vh;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column; }
  .themes #black, .themes #light {
    transition: box-shadow 0.3s;
    cursor: pointer;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    margin-bottom: 10px; }
    .themes #black#black, .themes #light#black {
      background: #131619;
      color: #f8f9fa; }
    .themes #black#light, .themes #light#light {
      background: #f8f9fa;
      color: #131619; }
    .themes #black:focus, .themes #light:focus {
      outline: none; }
    .themes #black:hover, .themes #light:hover {
      box-shadow: 0 0 10px 1px #131619; }

section.stores header h3,
section.get-in-touch header h3,
main.main-content.contact h1,
main.main-content.wishlist header h1,
main.main-content.checkout header h1,
main.main-content.checkout-confirm header h1,
.products header h2 {
  font-size: 2.7rem; }
  @media screen and (min-width: 576px) {
    section.stores header h3,
    section.get-in-touch header h3,
    main.main-content.contact h1,
    main.main-content.wishlist header h1,
    main.main-content.checkout header h1,
    main.main-content.checkout-confirm header h1,
    .products header h2 {
      font-size: 4.5rem; } }
  @media screen and (min-width: 768px) {
    section.stores header h3,
    section.get-in-touch header h3,
    main.main-content.contact h1,
    main.main-content.wishlist header h1,
    main.main-content.checkout header h1,
    main.main-content.checkout-confirm header h1,
    .products header h2 {
      font-size: 6rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #bec3c7; }

a {
  text-decoration: none;
  color: #000; }

.hover-danger {
  text-decoration: none !important;
  color: #9da1a5;
  position: relative;
  transition: color 0.3s;
  width: fit-content; }
  .hover-danger:hover {
    color: #d10024; }

.outline-danger:focus {
  box-shadow: 0 0 5px 0.5px #d10024; }

.line-through {
  text-decoration: line-through; }

.close {
  padding: 3px 14px !important; }
  .close span {
    color: #fff !important;
    font-weight: lighter !important;
    font-size: 1rem !important; }
  @media screen and (min-width: 576px) {
    .close span {
      font-size: 1.5rem !important; } }
  @media screen and (min-width: 768px) {
    .close {
      padding: 9px 16px !important; }
      .close span {
        font-size: 1.5rem !important; } }

.alert-success {
  background: rgba(81, 230, 106, 0.7);
  border-color: rgba(19, 22, 25, 0.5);
  color: #131619; }
  .alert-success a {
    text-decoration: none;
    transition: color 0.3s; }
    .alert-success a:hover {
      color: #bec3c7; }
  .alert-success i.fa-check-circle {
    color: #fff;
    font-size: 2.5rem; }
    @media screen and (min-width: 576px) {
      .alert-success i.fa-check-circle {
        font-size: 3rem; } }
    @media screen and (min-width: 768px) {
      .alert-success i.fa-check-circle {
        font-size: 5rem; } }

.badge-danger {
  background: #d10024; }

.text-danger {
  color: #d10024 !important; }

.text-link {
  color: #505663; }

.text-facebook {
  color: #4267b2; }

.text-twitter {
  color: #1da1f2; }

.text-instagram {
  color: transparent;
  background: #ffdb80;
  background-image: linear-gradient(45deg, #ffdb80 0%, #fcb045 10%, #f77636 18%, #f56342 28%, #fd1c1c 39%, #e2326c 49%, #c14482 62%, #843bb5 75%, #5851db 88%, #414fe6 100%);
  background-clip: text;
  -webkit-background-clip: text; }

.btn-outline-dark {
  border-color: #fff;
  color: #fff;
  background: #131619;
  transition: all 0.3s; }
  .btn-outline-dark:hover {
    background-color: #fff;
    color: #131619;
    border-color: #131619; }

.btn-outline-danger {
  border-color: #d10024;
  color: #d10024;
  background: #131619; }
  .btn-outline-danger:hover {
    background: #d10024;
    color: #131619;
    border-color: #d10024; }

/* checkbox and radio
==========================*/
.colors .custom-control-input ~ .custom-control-label::before {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  border: 2.2px solid transparent;
  transition: border-color 0.25s linear; }

.colors .custom-control-input ~ .custom-control-label::after {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%; }

.colors .custom-control-input#redColor ~ .custom-control-label::before {
  background: red; }

.colors .custom-control-input#blueColor ~ .custom-control-label::before {
  background: blue; }

.colors .custom-control-input#purpleColor ~ .custom-control-label::before {
  background: purple; }

.colors .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #fff; }

.colors .custom-control-input:not(:checked) ~ .custom-control-label::before {
  border-color: transparent; }

.colors .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none; }

.colors .custom-control-input:checked ~ .custom-control-label::after {
  background: none; }

/*==========*/
/*==========*/
/*==========*/
/*==========*/
/*==========*/
/*==========*/
/*==========*/
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #d10024;
  border-color: #d10024; }

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0px 0px 5px 2px rgba(209, 0, 36, 0.75); }

.modal-backdrop {
  z-index: auto !important; }

.modal#quickView {
  background: rgba(19, 22, 25, 0.5);
  background: rgba(0, 0, 0, 0.6); }
  .modal#quickView .close {
    color: #9da1a5; }

.modal-content {
  background: #0d0f11;
  border-radius: 0px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75); }
  .modal-content .fa-star {
    color: #d10024; }
  .modal-content .add-to-wishlist {
    text-decoration: none;
    color: #9da1a5;
    position: relative;
    transition: color 0.3s;
    width: fit-content; }
    .modal-content .add-to-wishlist::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      padding-bottom: 20px;
      border-bottom: 2px solid #d10024;
      width: 0%;
      height: 100%;
      transition: width 0.3s; }
    .modal-content .add-to-wishlist:hover {
      color: #d10024; }
      .modal-content .add-to-wishlist:hover::after {
        content: "";
        width: 100%; }

.dropdown-toggle::after {
  content: "\f107" !important;
  border: none;
  font-family: "fontawesome" !important;
  vertical-align: 0;
  transition: transform 0.3s; }

.dropdown-toggle[aria-expanded="true"]::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

header.main-header.home-header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  transition: background-color 0.5s; }
  header.main-header.home-header.animate-nav {
    background-color: #0d0f11;
    box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.5); }

header.main-header:not(.home-header) .top-header {
  background: rgba(255, 255, 255, 0.14); }

header.main-header:not(.home-header) nav {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); }

header.main-header .top-header .btn:focus {
  box-shadow: none; }

header.main-header .top-header .free-shipping {
  font-weight: lighter;
  font-size: 0.9rem;
  color: #d10024; }

header.main-header .top-header .fa-facebook-f {
  color: #4267b2; }

header.main-header .top-header .fa-twitter {
  color: #1da1f2; }

header.main-header .top-header .fa-phone-alt {
  color: #9da1a5; }

header.main-header .top-header .language-currency a {
  color: #9da1a5; }

header.main-header .top-header .dropdown-menu {
  background: #131619;
  box-shadow: 5px 5px 10px -5px rgba(157, 161, 165, 0.5); }
  header.main-header .top-header .dropdown-menu a {
    color: #9da1a5;
    background: #131619;
    transition: color 0.4s; }
    header.main-header .top-header .dropdown-menu a:hover {
      color: #fff; }

header.main-header nav .dropdown-menu {
  background: #131619;
  box-shadow: 5px 5px 10px -5px rgba(157, 161, 165, 0.5); }
  header.main-header nav .dropdown-menu a {
    color: #9da1a5;
    background: #131619;
    transition: color 0.4s; }
    header.main-header nav .dropdown-menu a:hover {
      color: #fff; }

header.main-header nav .navbar-toggler {
  border: none;
  border-radius: 0;
  padding: 0;
  font-size: 1.8rem; }
  header.main-header nav .navbar-toggler:focus {
    outline: none; }

header.main-header nav .navbar-toggler-icon {
  background-image: none;
  color: #d10024; }

header.main-header nav .navbar-nav .nav-item {
  font-size: 1.1rem; }
  header.main-header nav .navbar-nav .nav-item .nav-link {
    color: #9da1a5;
    transition: color 0.35s; }
    header.main-header nav .navbar-nav .nav-item .nav-link:hover {
      color: #bec3c7; }
  header.main-header nav .navbar-nav .nav-item.active > .nav-link {
    color: #d10024;
    font-weight: bold; }

header.main-header nav ul.list-inline li {
  position: relative; }
  header.main-header nav ul.list-inline li a {
    font-size: 1.5rem;
    color: #9da1a5;
    transition: color 0.35s; }
    header.main-header nav ul.list-inline li a:hover {
      color: #d10024; }
  header.main-header nav ul.list-inline li .badge {
    position: absolute;
    right: -8px;
    top: -1px; }

header.main-header nav button#toggle-form {
  background-color: transparent;
  font-size: 2rem; }
  header.main-header nav button#toggle-form:focus {
    outline: none; }
  header.main-header nav button#toggle-form:hover {
    cursor: pointer; }

header.main-header nav form {
  /* =========================*/
  /* small screen size form*/ }
  header.main-header nav form .input-group {
    background: transparent;
    border-bottom: 2px solid transparent;
    position: relative; }
    header.main-header nav form .input-group::after, header.main-header nav form .input-group::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: -2px;
      right: 0;
      left: 0;
      z-index: -2;
      border-bottom: 2px solid #9da1a5;
      width: 100%;
      transition: width 0.5s; }
    header.main-header nav form .input-group::after {
      z-index: -1;
      width: 0%;
      border-color: #d10024; }
    header.main-header nav form .input-group:hover::after {
      content: "";
      width: 100%; }
  header.main-header nav form input,
  header.main-header nav form .input-group-prepend,
  header.main-header nav form button {
    background-color: transparent;
    transition: background-color 0.3s ease-in; }
  header.main-header nav form input[type="search"] {
    color: #1e1f29; }
  header.main-header nav form input:focus {
    background-color: rgba(255, 255, 255, 0.8); }
    header.main-header nav form input:focus + .input-group-prepend {
      background-color: rgba(255, 255, 255, 0.8); }
  header.main-header nav form *:focus {
    outline: none;
    box-shadow: none; }
  header.main-header nav form#form-small-screen {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: auto; }
    header.main-header nav form#form-small-screen .input-group {
      width: 100%; }
      header.main-header nav form#form-small-screen .input-group input {
        background-color: rgba(255, 255, 255, 0.8); }
        header.main-header nav form#form-small-screen .input-group input + .input-group-prepend {
          background-color: rgba(255, 255, 255, 0.8); }

header.main-header .modal#login-register {
  background: rgba(19, 22, 25, 0.5); }

header.main-header .modal-content {
  background: #0d0f11;
  border-radius: 0px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75); }
  header.main-header .modal-content .modal-header {
    border: none; }
    header.main-header .modal-content .modal-header ul {
      border: none; }
      header.main-header .modal-content .modal-header ul a {
        text-decoration: none;
        border: none;
        padding-bottom: 1rem;
        font-weight: bold;
        font-size: 2rem;
        background: #0d0f11;
        color: #9da1a5; }
        header.main-header .modal-content .modal-header ul a:hover {
          border: none;
          color: #d10024; }
    header.main-header .modal-content .modal-header .active {
      color: #d10024;
      border: none;
      position: relative; }
      header.main-header .modal-content .modal-header .active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
        width: 100%;
        height: 6px;
        border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%;
        background: #d10024; }
  header.main-header .modal-content form input:focus {
    outline: none;
    box-shadow: none; }
  header.main-header .modal-content form a {
    color: #9da1a5; }

header.main-header hr {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 1px;
  background: #9da1a5; }
  header.main-header hr::after {
    background: #0d0f11;
    padding-right: 7px;
    padding-left: 7px;
    position: relative;
    top: -13px;
    display: block;
    width: fit-content;
    margin: 0 auto; }
  header.main-header hr.login::after {
    content: "OR"; }
  header.main-header hr.register::after {
    content: "OR CONNECT WITH"; }

main.main-content.shop, main.main-content.checkout-confirm, main.main-content.cart,
main.main-content.contact > header, main.main-content.product-details, main.main-content.wishlist, main.main-content.checkout {
  padding-top: 10rem; }

main.main-content .breadcrumb {
  background: transparent; }
  main.main-content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "\02758";
    color: #fff; }
  main.main-content .breadcrumb a {
    color: #d10024;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
    width: fit-content; }
    main.main-content .breadcrumb a::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      padding-bottom: 20px;
      border-bottom: 2px solid #d10024;
      width: 0%;
      height: 100%;
      transition: width 0.3s; }
    main.main-content .breadcrumb a:hover {
      color: #d10024; }
      main.main-content .breadcrumb a:hover::after {
        content: "";
        width: 100%; }

main.main-content header.contact {
  min-height: 50vh; }
  main.main-content header.contact .breadcrumb {
    background: transparent; }

.benefits {
  padding: 5rem 0rem;
  margin: 10rem 0rem 2rem; }
  .benefits .benefit {
    background: rgba(255, 255, 255, 0.1); }
    .benefits .benefit .benefit-icon {
      font-size: 2rem;
      color: #d10024; }
    .benefits .benefit .benefit-text h3 {
      color: #cbd4da; }
    .benefits .benefit .benefit-text p {
      color: #b4b4b4; }

section.checkout table .accordion .card {
  background: #131619;
  border-bottom: 0.01rem solid #9da1a5 !important; }
  section.checkout table .accordion .card .card-header {
    margin: 0;
    padding: 2rem 2rem; }
  section.checkout table .accordion .card .card-body {
    background: rgba(255, 255, 255, 0.1); }

section.checkout table a.inline-link {
  color: #d10024;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  width: fit-content; }
  section.checkout table a.inline-link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #d10024;
    width: 0%;
    height: 100%;
    transition: width 0.3s; }
  section.checkout table a.inline-link:hover {
    color: #d10024; }
    section.checkout table a.inline-link:hover::after {
      content: "";
      width: 100%; }

section.deal-of-the-week {
  padding: 8rem 1rem;
  min-height: 100vh;
  color: #131619;
  background-image: url(../images/deal-of-the-week/deal-of-the-week.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  section.deal-of-the-week .price-before {
    text-decoration: line-through; }
  section.deal-of-the-week h2 {
    color: #0d0f11;
    margin-bottom: 2rem; }

.filters {
  background: #131619;
  padding: 3rem 1.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8) inset; }
  .filters .accordion .card {
    background: #131619; }
    .filters .accordion .card button {
      color: #9da1a5; }
    .filters .accordion .card .list-group-item {
      background: #131619; }
  .filters button:focus {
    box-shadow: none; }
  .filters .range-container {
    padding: 3rem 0rem;
    padding-right: 2rem; }
  .filters .price *:focus {
    outline: none;
    box-shadow: none; }

footer.footer {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #0d0f11;
  color: #777777; }
  footer.footer a {
    color: inherit;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
    width: fit-content; }
    footer.footer a::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      padding-bottom: 20px;
      border-bottom: 2px solid #fff;
      width: 0%;
      height: 100%;
      transition: width 0.3s; }
    footer.footer a:hover {
      color: #fff; }
      footer.footer a:hover::after {
        content: "";
        width: 100%; }
  footer.footer section h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem; }
  footer.footer button {
    background: #131619;
    color: #fffcfc; }
    footer.footer button:hover {
      background: #000;
      color: #fff; }

.history {
  padding-top: 5rem; }
  .history h2 {
    margin-bottom: 2rem; }

article.home-slide {
  max-height: 100vh;
  padding: 12rem 1rem;
  background-color: #000;
  color: #131619;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  article.home-slide h2 {
    color: #0d0f11;
    font-size: 3.5rem;
    font-weight: 400; }
    @media screen and (min-width: 576px) {
      article.home-slide h2 {
        font-size: 4.5rem; } }
    @media screen and (min-width: 768px) {
      article.home-slide h2 {
        font-size: 6rem; } }
  article.home-slide#slide-1 {
    background-image: url(../images/home-slider/slide-1.png); }
  article.home-slide#slide-2 {
    background-image: url(../images/home-slider/slide-2.png); }
  article.home-slide#slide-3 {
    background-image: url(../images/home-slider/slide-3.png); }
  article.home-slide#slide-4 {
    background-image: url(../images/home-slider/slide-4.png); }
  article.home-slide#slide-5 {
    background-image: url(../images/home-slider/slide-5.png); }

.card.women,
.card.men {
  border: none;
  overflow: hidden;
  margin-top: 4rem; }
  .card.women .card-img,
  .card.men .card-img {
    height: 100%; }
    .card.women .card-img img,
    .card.men .card-img img {
      transition: transform 0.5s ease-out;
      height: 100%; }
  .card.women:hover a,
  .card.men:hover a {
    background: rgba(255, 255, 255, 0.25);
    background: rgba(19, 22, 25, 0.25);
    color: #fff; }
  .card.women:hover img,
  .card.men:hover img {
    transform: scale(1.1); }
  .card.women a,
  .card.men a {
    text-decoration: none;
    color: #fff;
    font-weight: bold; }

.new-arrivals {
  padding: 10rem 0rem; }
  .new-arrivals h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem; }
  .new-arrivals nav {
    margin-top: 3rem;
    margin-bottom: 0.8rem; }
    .new-arrivals nav a {
      color: #9da1a5;
      text-decoration: none;
      position: relative;
      transition: color 0.3s;
      width: fit-content; }
      .new-arrivals nav a::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding-bottom: 20px;
        border-bottom: 2px solid #d10024;
        width: 0%;
        height: 100%;
        transition: width 0.3s; }
      .new-arrivals nav a:hover {
        color: #d10024; }
        .new-arrivals nav a:hover::after {
          content: "";
          width: 100%; }
      .new-arrivals nav a.active {
        color: #d10024; }
        .new-arrivals nav a.active::after {
          content: "";
          width: 100%;
          border-bottom: 2px solid #d10024; }

section.order-confirmation .order-information {
  margin: 5rem 0rem;
  background: rgba(255, 255, 255, 0.07); }
  section.order-confirmation .order-information .bolded {
    font-weight: bold;
    font-size: 1.6rem; }

section.product-details .fa-star {
  color: #d10024; }

section.product-details .add-to-wishlist {
  text-decoration: none;
  color: #9da1a5;
  position: relative;
  transition: color 0.3s;
  width: fit-content; }
  section.product-details .add-to-wishlist::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #d10024;
    width: 0%;
    height: 100%;
    transition: width 0.3s; }
  section.product-details .add-to-wishlist:hover {
    color: #d10024; }
    section.product-details .add-to-wishlist:hover::after {
      content: "";
      width: 100%; }

section.product-description ul.nav-tabs {
  border: none; }
  section.product-description ul.nav-tabs a.nav-link {
    text-decoration: none;
    border: none;
    padding-bottom: 1rem;
    font-weight: bold;
    background: #0d0f11;
    color: #9da1a5;
    transition: color 0.35s; }
    section.product-description ul.nav-tabs a.nav-link:hover {
      border: none;
      color: #d10024; }
    section.product-description ul.nav-tabs a.nav-link.active {
      color: #d10024;
      border: none;
      position: relative; }
      section.product-description ul.nav-tabs a.nav-link.active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
        width: 100%;
        height: 6px;
        border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%;
        background: #d10024; }

.card.product-item {
  border: none;
  background: #0d0f11;
  transition: box-shadow 0.3s;
  transition: transform 0.5s; }
  .card.product-item:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.75);
    transform: scale(1.02); }
  .card.product-item .card-img {
    position: relative; }
    .card.product-item .card-img .overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(19, 22, 25, 0.5);
      padding: 15px 10px;
      display: none; }
      @media screen and (max-width: 768px) {
        .card.product-item .card-img .overlay {
          display: block; } }
      .card.product-item .card-img .overlay .d-flex > a {
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
        font-size: 0.8rem;
        transition: color 0.3s; }
        .card.product-item .card-img .overlay .d-flex > a:hover {
          color: #d10024; }
      .card.product-item .card-img .overlay .icons a {
        margin-left: 10px;
        color: #d10024; }
        .card.product-item .card-img .overlay .icons a > .fa-expand-arrows-alt {
          color: #fff; }
    .card.product-item .card-img .img {
      position: relative; }
      .card.product-item .card-img .img img {
        transition: opacity 0.45s ease-in; }
        .card.product-item .card-img .img img:last-child {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0; }
  .card.product-item .card-body {
    padding: 15px 5px;
    background: #0d0f11; }
    .card.product-item .card-body .card-text {
      font-size: 0.85rem; }
    .card.product-item .card-body .card-title {
      font-size: 1rem;
      margin-bottom: 0.25rem; }
    .card.product-item .card-body .price {
      font-weight: bold;
      color: #c4c2c2;
      color: #d10024; }
    .card.product-item .card-body .rating {
      display: none;
      color: #d10024;
      font-size: 0.5rem; }
      @media screen and (max-width: 768px) {
        .card.product-item .card-body .rating {
          display: block; } }

section.stores .map {
  padding: 0 1rem 0 0;
  overflow: hidden;
  border-radius: 10px;
  min-height: 50vh;
  box-shadow: 0 0 5px 5px #0d0f11 inset; }

/* swiper styles
========================*/
.swiper-thumbs button {
  border: none;
  background: transparent;
  opacity: 0.5;
  outline: none;
  box-shadow: none; }
  .swiper-thumbs button.active {
    opacity: 1; }

.swiper-pagination-bullet {
  background: #9da1a5 !important; }

.swiper-pagination-bullet-active {
  background: #d10024 !important; }

section.wishlist-items .media-body > a,
section.shopping-cart .media-body > a {
  text-decoration: none; }
  section.wishlist-items .media-body > a h6,
  section.shopping-cart .media-body > a h6 {
    position: relative;
    transition: color 0.3s;
    width: fit-content; }
    section.wishlist-items .media-body > a h6::after,
    section.shopping-cart .media-body > a h6::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      padding-bottom: 20px;
      border-bottom: 2px solid #d10024;
      width: 0%;
      height: 100%;
      transition: width 0.3s; }
    section.wishlist-items .media-body > a h6:hover,
    section.shopping-cart .media-body > a h6:hover {
      color: #d10024; }
      section.wishlist-items .media-body > a h6:hover::after,
      section.shopping-cart .media-body > a h6:hover::after {
        content: "";
        width: 100%; }

section.wishlist-items .navigation-links a,
section.shopping-cart .navigation-links a {
  color: #9da1a5;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  width: fit-content; }
  section.wishlist-items .navigation-links a::after,
  section.shopping-cart .navigation-links a::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #d10024;
    width: 0%;
    height: 100%;
    transition: width 0.3s; }
  section.wishlist-items .navigation-links a:hover,
  section.shopping-cart .navigation-links a:hover {
    color: #d10024; }
    section.wishlist-items .navigation-links a:hover::after,
    section.shopping-cart .navigation-links a:hover::after {
      content: "";
      width: 100%; }

/*# sourceMappingURL=black_theme.css.map */
